@font-face {
	font-family: 'PT Astra Font regular';
	src: url(../fonts/PT_Astra_Sans/PT-Astra-Sans_Regular.ttf);
}

@font-face {
	font-family: 'PT Astra Font bold';
	src: url(../fonts/PT_Astra_Sans/PT-Astra-Sans_Bold.ttf);
}

@font-face {
	font-family: 'PT Astra Font italic';
	src: url(../fonts/PT_Astra_Sans/PT-Astra-Sans_Italic.ttf);
}

@font-face {
	font-family: 'PT Astra Font bold italic';
	src: url(../fonts/PT_Astra_Sans/PT-Astra-Sans_Bold-Italic.ttf);
}

:root {
	--color-1: #163e6c;
	--color-2: #d20a11;
	--color-3: #ebe6d6;
}